{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'authentication/css/main.css' %}">
    <title>Sign_in</title>
</head>
<body>
    <form class="sign_in"  method="post">
        <h2>Entry form</h2>
        {% csrf_token %}
        <div class="form_group">
            <h2>{{ message }}</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form_group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">SIGN IN</button>
    </form>
    <form style="text-align: center" action="http://localhost:8000/">
   <button>TO MAIN</button>
    </form>
</body>
</html>