<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignIn</title>
</head>
<body>
    <form  method="post">
        <label for="email"> Enter email </label>
        <input type="text" id="email" name="email"><br>
        
        <label for="password"> Enter password </label>
        <input type="text" id="password" name="password"><br>
        
        <input type="submit" value="SignIn">
        {{ message }}
        {% csrf_token %}
        
    </form>
</body>
</html>