<!DOCTYPE html>
<html lang="en">
<head>
<title>Intake</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .field {
        text-align: center;
    }
</style>
</head>
<body>
<div class="field">
<h1>User intake</h1>
<form  method="post">
        <label for="user">Enter your name:</label>
    <input type="text" id="user" name="user"><br><br>
        <label for="food">Enter food name:</label>
    <input type="text" id="food" name="food"><br><br>
        <label for="weight(grams)">Enter weight in grams:</label>
    <input type="text" id="weight(grams)" name="weight(grams)"><br><br>
        <label for="proteins">Enter proteins in grams:</label>
    <input type="text" id="proteins" name="proteins"><br><br>
        <label for="fats">Enter fats in grams:</label>
    <input type="text" id="fats" name="fats"><br><br>
        <label for="carbohydrates">Enter carbohydrates in grams :</label>
    <input type="text" id="carbohydrates" name="carbohydrates"><br><br>

    <input type="submit" value="add information">
    </form>
</div>
</body>
</html>